################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Telegent/obj
/Telegent/bin/Release/netcoreapp2.0
/.vs/Telegent/v15
/.vs
